<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">

    <title>RPC DCS GIF++</title>
</head>
<body>
    <section class="section">
        <nav class="level">
            <p class="level-item has-text-centered">
                <a class="link is-info">Home</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info">Menu</a>
            </p>
            <p class="level-item has-text-centered">
                <img src="https://bulma.io/images/bulma-type.png" alt="" style="height: 30px;">
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info">Reservations</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info">Contact</a>
            </p>
        </nav>
    </section>
    <main class="container container-large">
        {% block body %}{% endblock %}
    </main>
    {% block script %}{% endblock %}
</body>
</html>