{% extends "common/head.html" %}
{% block body %}

    <!-- Dynamic table displaying live data from db. Updated via js -->
    <div class="columns">
        <div class="column">
            <table id="hv" class="table is-bordered">
                <thead>
                <tr>
                    <th>Channel</th>
                    <th>V0Set/HVapp</th>
                    <th>IMon</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="column">
            <table id="picolog"></table>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <table id="flowplot"></table>
        </div>
        <div class="column">
            <table id="dip"></table>
        </div>
    </div>

{% endblock %}

{% block script %}
<script>
    const getData = () => {
        fetch('/get_monitor_data')
        .then(data => data.json())
        .then(data => {
            fillTable(data)
        })
    }

    const fillHvTable = (point) => {
        const columns = point.columns
        // For some reason the api returned from influxb db
        // Are an array of array, so we need only the first element
        const values = point.values[0]
        // Columns[0] is always the time
        const hv = columns[1]
        // Extract the name of the RPC => hardcoded
        const rpc = hv.substr(hv.length - 4);
        const table = document.getElementById('hv')
        //Check if there is already a row
        const row = document.getElementById(`hv-${rpc}`)
        if (!row) { // Create a row and append it
            // First append the cell with the name of the RPC
            const row = document.createElement('tr')
            const td = document.createElement('td')
            const content = document.createTextNode(rpc)
            td.appendChild(content)
            row.appendChild(td)
            row.id = `hv-${rpc}`
            // Then append the rest of the columns
            columns.map((column, index) => {
                if (index !== 0) {
                    // values[index] is the timestamp
                    // Not implemented for now
                    const td = document.createElement('td')
                    const content = document.createTextNode(values[index])
                    td.appendChild(content)
                    row.appendChild(td)
                }
            })
            table.appendChild(row)
        } else { // Update existing row
            const tds = row.getElementsByTagName('td')
            tds[0].textContent = rpc
            columns.map((column, index) => {
                if (index !== 0) {
                    tds[index].textContent = values[index]
                }
            })
        }

    }


    const fillDipTable = (point) => {
        // console.log('Dip not implemented yet')
    }

    const fillFlowplotTable = (point, type) => {
        // console.log('Flowplot not implemented yet')
    }

    const fillPicologTable = (point) => {
        // console.log('Picolog not implemented yet')
    }

    const fillTable = (data) => {
        data.map(queryElement => queryElement.series[0])
            .map(point => {
                switch(point.name) {
                    case 'hv':
                    fillHvTable(point)
                    break;
                    case 'dip':
                    fillDipTable(point)
                    break;
                    case 'flowplot_percent':
                    fillFlowplotTable(point, type='percent')
                    break;
                    case 'flowplot_flows':
                    fillFlowplotTable(point, type='flowplot_flows')
                    break;
                    case 'picolog':
                    fillPicologTable(point)
                    break;
                    default:
                    break;
                }
            })
    }

    setInterval(getData, 2000);
</script>
{% endblock script%}